<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>

  <appSettings>
    <!--<add key="ConsumerKey" value="3MVG9uudbyLbNPZORf9IXZhcIjAt2R_Rlr6wbFk68rZoNKL69EEJUL76dzcEnlapJaii1FW48OQZNa4gd78O0"/>
    --><!-- Setup -> Create -> Apps -> Connected Apps -> New -> Check 'Enable OAuth and set the OAuth Scope(s). Fill remaining required fields. --><!--
    <add key="ConsumerSecret" value="5542231749795089762"/>
    --><!-- Secret is generated along with the Consumer Key --><!--
    <add key="SecurityToken" value="0n1uymGbNMLhousFa0WKwNof"/>
    --><!-- My Settings -> Personal -> Reset My Security Token  --><!--
    <add key="Username" value="uhha@trailhead.com"/>
    --><!-- My Settings -> Personal -> Personal Information  --><!--
    <add key="Password" value="this9isA"/>
    --><!-- My Settings -> Personal -> Change My Password  -->

    <add key="ConsumerKey" value="3MVG9uudbyLbNPZORf9IXZhcIjAt2R_Rlr6wbFk68rZoNKL69EEJUL76dzcEnlapJaii1FW48OQZNa4gd78O0" />
    <add key="ConsumerSecret" value="5542231749795089762" />
    <add key="SecurityToken" value="x5eWKWtYsybIy9jyXqWnAOrUK" />
    <add key="Username" value="asvinarenka@foundationsource.com" />
    <add key="Password" value="this9isA" />
    <add key="IsRelease" value="false" />

    <!--set to true to point  SimpleConsole at a Sandbox environment (test.salesforce.com) -->
    <add key="IsSandboxUser" value="false" />


    <!--TFS Connect Token-->
    <add key="TFSConnectToken" value="xb3qxnjatfjupkgne7sckugvautjy3532qh6lyf5gqikcaepqnwa" />
    <add key="TFSUrl" value="https://kraftpro.uz:48088/tfs/KraftPro" />
    <add key="TFSPassword" value="Alex113322" />
    <add key="TFSProject" value="FoundationSource" />
    <add key="TFSProjectTeam" value="FoundationSource Team" />

  </appSettings>
  
  
  <runtime>
  
  
          <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
  
                  <dependentAssembly>
  
  
                          <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
  
  
                          <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
  
  
                  </dependentAssembly>
  
  
                  <dependentAssembly>
  
  
                          <assemblyIdentity name="System.Runtime.Serialization.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
  
  
                          <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
  
  
                  </dependentAssembly>
  
  
                  <dependentAssembly>
  
  
                          <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
  
  
                          <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
  
  
                  </dependentAssembly>
  
  
                  <dependentAssembly>
  
  
                          <assemblyIdentity name="System.Security.Cryptography.X509Certificates" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
  
  
                          <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
  
  
                  </dependentAssembly>
  
  
                  <dependentAssembly>
  
  
                          <assemblyIdentity name="Microsoft.Win32.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
  
  
                          <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
  
  
                  </dependentAssembly>
  
  
          </assemblyBinding>
  
  
  </runtime>
</configuration>